@page "/test1/{solanlap:int?}"
@model ASP_Razor_Init.Pages.FirstPageModel

<h1 style="color:green">@Model.title</h1>

<h2>@ViewData["mydata"]</h2>
<p>Học lập trình ASP.NET Core (<strong>@System.DateTime.Now</strong>)</p>

@{
    var a = 2;
    var b = 3;

    var solanlapstring = this.Request.RouteValues["solanlap"] ?? "0";

    int solanlap = Int32.Parse(solanlapstring.ToString());

    <p>Căn bậc hai của @a là @Math.Sqrt(a)</p>

    <p>Số lần lặp là @solanlap</p>
}

<p>Tổng của @a và @b là @(a + b)</p>

<ol>
    @for (int i = 1; i <= solanlap; i++)
    {
        <li>Mục thứ @i</li>
    }
</ol>
<p>@Model.Welcome("Nguyễn Thị Thu Uyên")</p>
